.PetDropDown {
    width: 90%;
    background-color: white;
    margin: 1rem;
}

.Loading {
    font-size: xx-large;
    margin: 1rem;
    background-color: white;
}

label {
    background-color: white;
}