.UploadPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    align-items: center;
}

.UploaderComponent {
    width: 90%;
}

img {
    margin: 1rem;
}