.PetDisplay {
    height: 60vh;
    color: white;
    font-size: 2rem;
    width: 50vh;
}

.PetName {
    font-size: 3rem;
}

.PetInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}