.PetDisplay {
    height: 60vh;
    color: white;
    font-size: 2.5vh;
    width: 50vh;
}

.PetDisplay img {
    height: 35vh;
}

.PetName {
    font-size: 5vh;
}

.PetInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}